@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailView</title>
</head>
<body>
    <a href="@Model">Reset link</a>
</body>
</html>
